body {
	height: 100%;
	width: 100%;	
}

.header-bg {
	background-image: url('../img/bg_mac.jpg');
	background-size: cover;
	background-position: center;

}

.round {
	border-radius: 3rem;
}

.cover-text {
	margin-top: 9rem;
}


.cober-row {
	margin-bottom: 3rem;
}