@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* spaces reset */
html {
  font-size: 10px;
}

/* box reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* images */
img {
  width: 100%;
  height: auto;
}

/* body */
.body {
  height: 100vh;
  background: #e5ebf0;
  position: relative;

  font-family: 'PT Sans', sans-serif;
  color: #333;
}

/* card */
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* height: auto; */
  height: 48.5rem;
  width: 29.9rem;

  background: #fff;

  overflow: hidden;

  box-shadow: 0rem 0rem 6rem rgba(0, 0, 0, 0.09);

  padding: 2.4rem 2.4rem;
}

/* avatar */
.avatar {
  width: 100%;
  margin-bottom: 24rem;
}